<div class="container">
    <!-- Hiển thị thông báo không có kết quả -->
    <div *ngIf="noResults" class="no-results-message">
      Không có kết quả tìm kiếm cho từ khóa "{{ keyword }}".
    </div>
    
    <!-- Hiển thị danh sách tour nếu có kết quả tìm kiếm -->
    <div *ngIf="!noResults && tours.length > 0">
      <h2 class="tongHop">DANH SÁCH TOUR CÓ TỪ KHOÁ "{{ keyword }}"</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let tour of tours">
          <!-- Hiển thị thông tin tour 1 ngày -->
          <div class="tour-item" (click)="goToTourDetail(tour.id.toString())">
            <img *ngIf="tour.imageHeader" [src]="tour.imageHeader" alt="Tour Image" class="tour-image">
            <p class="tour-name">{{ tour.tour_name }}</p>
            <div class="td_tour_type">
              <i class="fa-regular fa-clock"></i>
              <p class="bold-text">{{ tour.days }}</p>
            </div>
            <div class="td_tour_type">
              <i class="fa-regular fa-calendar-days"></i>
              <p class="tour-depart">Khởi hành: {{ tour.start_date }}</p>
            </div>
            <div class="td_tour_type">
              <p class="giaP">GIÁ:</p>
              <p class="tour-price">{{ tour.price }}đ/Khách</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Phân trang, chỉ hiển thị nếu có nhiều hơn 1 trang -->
    <div *ngIf="totalPages > 1">
      <ul class="pagination">
        <li *ngFor="let page of visiblePages" (click)="searchTours(keyword, page, 10)">
          <a href="javascript:void(0)">{{ page }}</a>
        </li>
      </ul>
    </div>
  </div>
  