<!-- Thanh bên điều hướng -->
<!-- Thanh bên điều hướng -->
<div class="sidenav">
  <a routerLink="app-quan-ly-tour">Quản lý tour</a>
  <a routerLink="quan-ly-booking">Quản lý các đơn đặt tour</a>
  <a routerLink="quan-ly-ctkm">Quản lý chương trình khuyến mãi</a>
  <a routerLink="quan-ly-nguoi-dung">Quản lý người dùng</a>
  <a href="#">Trang chủ người dùng</a>
</div>


<!-- Nội dung trang -->
<div class="main">
  <!-- <app-quan-ly-tour></app-quan-ly-tour> -->
  <router-outlet></router-outlet>
</div>
