<div class="container mt-5">
  <h2 class="text-center mb-4">Sửa Thông Tin Tour</h2>

  <!-- Form sửa thông tin tour -->
  <form #editTourForm="ngForm" (ngSubmit)="onUpdateTour()">
    <div class="form-group">
      <label for="tourName">Tên Tour:</label>
      <input
        type="text"
        id="tourName"
        class="form-control input-style"
        name="tourName"
        [(ngModel)]="tour.tourName"
        required
      />
    </div>

    <div class="form-group">
      <label for="days">Số ngày:</label>
      <input
        type="text"
        id="days"
        class="form-control input-style"
        name="days"
        [(ngModel)]="tour.days"
        required
      />
    </div>

    <div class="form-group">
      <label for="start_date">Ngày khởi hành:</label>
      <input
        type="text"
        id="start_date"
        class="form-control input-style"
        name="start_date"
        [(ngModel)]="tour.startDate"
        required
      />
    </div>

    <div class="form-group">
      <label for="destination">Điểm Đến:</label>
      <input
        type="text"
        id="destination"
        class="form-control input-style"
        name="destination"
        [(ngModel)]="tour.destination"
        required
      />
    </div>

    <div class="form-group">
      <label for="price">Giá Tour:</label>
      <input
        type="number"
        id="price"
        class="form-control input-style"
        name="price"
        [(ngModel)]="tour.price"
        required
      />
    </div>

    <div class="form-group">
      <label for="status">Trạng Thái:</label>
      <select
        id="status"
        class="form-control input-style"
        name="status"
        [(ngModel)]="tour.status"
        required
      >
        <option value="Đang hoạt động">Đang hoạt động</option>
        <option value="Tạm dừng">Tạm dừng</option>
      </select>
    </div>

    <div class="form-group">
      <label for="tourType">Loại Tour:</label>
      <select
        id="tourType"
        class="form-control input-style"
        name="tourType"
        [(ngModel)]="tour.tourType"
        required
      >
        <option value="1 ngày">1 ngày</option>
        <option value="Nhiều ngày">Nhiều ngày</option>
      </select>
    </div>

    <div class="form-group">
      <label for="departureLocation">Điểm xuất phát:</label>
      <input
        type="text"
        id="departureLocation"
        class="form-control input-style"
        name="departureLocation"
        [(ngModel)]="tour.departureLocation"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Mô tả về giá tour:</label>
      <quill-editor
        #quillEditor
        [(ngModel)]="tour.description"
        name="description"
        [style]="{ height: '200px' }"
        [modules]="{
          toolbar: [
            [{ 'font': [] }],
            [{ 'size': ['small', 'normal', 'large', 'huge'] }],
            [{ 'header': '1' }, { 'header': '2' }, { 'header': '3' }],
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'color': [] }],
            [{ 'background': [] }],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            ['blockquote', 'code-block'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'align': [] }],
            ['link', 'image', 'video'],
            ['clean']
          ]
        }"
      ></quill-editor>
    </div>

    <div class="form-group">
      <label for="content">Nội dung tour:</label>
      <quill-editor
        #quillEditor
        [(ngModel)]="tour.content"
        name="content"
        [style]="{ height: '600px' }"
        [modules]="{
          toolbar: [
            [{ 'font': [] }],
            [{ 'size': ['small', 'normal', 'large', 'huge'] }],
            [{ 'header': '1' }, { 'header': '2' }, { 'header': '3' }],
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'color': [] }],
            [{ 'background': [] }],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            ['blockquote', 'code-block'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'align': [] }],
            ['link', 'image', 'video'],
            ['clean']
          ]
        }"
      ></quill-editor>
    </div>

    <!-- Hiển thị ảnh đại diện cũ -->
    <div *ngIf="tour.imageHeader" class="form-group image-preview">
      <label>Ảnh đại diện hiện tại:</label> <br />
      <img
        [src]="imagePreview || tour.imageHeader"
        alt="Ảnh đại diện"
        class="img-fluid"
        style="max-width: 200px"
      />
    </div>

    <!-- Thêm phần chọn hình ảnh -->
    <div class="form-group">
      <label for="fileInput">Chọn ảnh mới cho tour (nếu có):</label>
      <input
        id="fileInput"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="form-control input-style"
      />
    </div>

    <!-- Hiển thị ảnh đã chọn -->
    <div *ngIf="selectedImage" class="form-group">
      <p><strong>Ảnh đã chọn:</strong> {{ selectedImage.name }}</p>
      <img
        [src]="imagePreview"
        alt="Ảnh đã chọn"
        class="img-fluid"
        style="max-width: 200px"
      />
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Nút Cập Nhật -->
    <div class="form-group">
      <button type="submit" class="btn btn-success mt-3 btn-custom">Cập Nhật</button>
    </div>
  </form>
</div>
