.content {
    padding: 80px;
    margin: 0 auto;
    /* Điều chỉnh khoảng cách này tùy thuộc vào chiều cao của header */
}
h1 {
    text-align: center;
}
.h3SDT{
    text-align: center;
    margin-top: 90px;
}
p {
    text-align: justify;
    padding: 10px 0px 10px 0px;
}
.giaTri {
    padding-left: 10px;
    border: 0.3px solid;
}