<h2>Thêm mới Tour</h2>

<form #themTour="ngForm" (ngSubmit)="createTour()">
  <!-- Tên Tour -->
  <label for="tour_name">Tên tour:</label>
  <input id="tour_name" type="text" [(ngModel)]="newTour.tourName" name="tour_name" required />

  <!-- Số ngày -->
  <label for="days">Số ngày:</label>
  <input id="days" type="text" [(ngModel)]="newTour.duration" name="days" required />

  <!-- Khởi hành -->
  <label for="start_date">Khởi hành:</label>
  <input id="start_date" type="text" [(ngModel)]="newTour.departureLocation" name="start_date" required />
  <!-- Loại Tour -->

  <!-- Trạng thái -->
  <div class="option">
    <label for="status">Trạng thái:</label>
    <select id="status" [(ngModel)]="newTour.status" name="status" required>
      <option value="ACTIVE">Tạm dừng</option>
      <option value="INACTIVE">Đang hoạt động</option>
    </select>
  </div>

  <!-- Giá tour -->
  <label for="price">Giá tour:</label>
  <input id="price" type="number" [(ngModel)]="newTour.price" name="price" required />


  <!-- Nội dung tour (Quill Editor) -->
  <label for="content">Nội dung tour:</label>
  <quill-editor #quillEditor [(ngModel)]="newTour.description"
    name="content"
    [style]="{ height: '300px' }"
    [modules]="{
      toolbar: [
        [{ 'font': [] }],
        [{ 'size': ['small', 'normal', 'large', 'huge'] }],
        [{ 'header': '1' }, { 'header': '2' }, { 'header': '3' }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'color': [] }],
        [{ 'background': [] }],
        [{ 'script': 'sub'}, { 'script': 'super' }],
        ['blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'align': [] }],
        ['link', 'image', 'video'],
        ['clean']
      ]
    }">
  </quill-editor>

  <!-- Thêm ảnh đại diện cho tour -->
  <label for="fileInput">Thêm ảnh đại diện cho tour:</label>
  <input id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" />
  <img *ngIf="newTour.imageHeader" [src]="newTour.imageHeader" alt="Ảnh đại diện" style="max-width: 200px; margin-top: 10px;" />

  <!-- Thông báo thành công -->
  <div *ngIf="successMessage" class="alert alert-success mt-4">
    {{ successMessage }}
  </div>

  <!-- Thông báo lỗi -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
    {{ errorMessage }}
  </div>

  <!-- Nút lưu tour -->
  <button type="submit">Lưu tour</button>
</form>
